<script>
	import { onMount } from 'svelte';
	import '../styles/app.css';

	let articles = [];

	onMount(async () => {
		try {
			const response = await fetch('https://jsonplaceholder.typicode.com/posts');
			const data = await response.json();
			articles = data;
		} catch (error) {
			console.error(error);
		}
	});
</script>

<main>
	{#if articles.length > 0}
		<ul class="flex flex-col items-center mt-4">
			{#each articles as article (article.id)}
				<li class="bg-gray-100 p-4 mb-4 rounded shadow w-3/6">
					<h3 class="text-xl font-bold text-center">{article.title}</h3>
					<p class="mt-2">{article.body}</p>
				</li>
			{/each}
		</ul>
	{:else}
		<p>Загрузка...</p>
	{/if}
</main>
